#root {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	overflow-x: hidden;
}

.col {
	grid-column: 1 / -1;
}

.nav-next,
.nav-prev {
	left: 0;
	font-weight: 700;
	top: -3px;
	position: absolute;
	z-index: 2;
	color: green;
	background-color: white;
	padding: 25px;
	border-radius: 55%;
}

.nav-prev {
	left: unset;
	right: 0;
}

/* Animation Section */

.animation-from-left {
	animation: imageLoaded-from-left 0.7s linear 0s alternate;
}

.animation-from-right {
	animation: imageLoaded-from-right 0.7s linear 0s alternate;
}


@keyframes imageLoaded-from-left {
	0% {
		opacity: 0.5;
		transform: translateX(-50px);
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes imageLoaded-from-right {
	0% {
		opacity: 0.5;
		transform: translateX(50px);
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* ======== End of Animation Section ========= */
